@font-face {
    font-family: 'FIFA';
    src: url("../fonts/fifa.ttf");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
}
body {
    font-family: FIFA;
    background-color: #3562A6;
}
header {
    background-image: url(../images/champions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    
}

header h1, header h2 {
    background: white;
    padding: 10px;
    border-radius: 10px;
    color: #3562A6;
    box-shadow:0 0 100px 5px white;
    margin-right: 10%;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 30px;
}

.hero {
    width: 100%;
    height: 150px;
    background-image: url(../images/champions2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 80%;
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.score {
    width: 100%;
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.score h2 {
    color: #3562A6;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}
.hero h1 {
    font-size: 25px;
    color: white;
    margin-left: 20px;
   
}

.hero button {
    background-color: red;
    color: #0B0B0B;
    font-size: 30px;
    padding: 14px 40px;
    border-radius: 50%;
    border: 2px solid black;
    
    position: absolute;
    font-family: FIFA;
}

.hero button:hover {
    background-color: yellow;
}

.hero button:click {
    background-color: green;
}

.quiz-container {
    width: 100%;
    height: 600px;
    border: 2px solid red;
}

.question-number-container {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 15px; 
}

.question-number-container h2 {
    background: white;
    color: #3562A6;
    border-radius: 10px;
    font-size: 30px;
}

.question-container {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.question-container h2 {
    background: white;
    color: #3562A6;
    border-radius: 10px;
    font-size: 30px;
}

.answers-container {
    width: 40%;
    height: 250px;
    margin: 0 auto;
}

.answers-container ul {
    list-style: none;
    font-size: 25px;
}

.answers-container ul li {
    padding: 10px;
}

.answers-container ul li button {
    background: white;
    color: #3562A6;
    width: 350px;
    height: 40px;
    text-align: left;
    font-family: FIFA;
    font-size: 25px;
    border-radius: 10px;
}

.answers-container ul li button:hover {
    background: #0E1E5B;
    color: white;
}
